body{
  padding: 1rem;
  margin: 0;

}
.borderGreen{
  border: 2px solid green;
}
.borderRed{
  border: 2px solid red;
}
.nav{
  margin-bottom: 1rem;
}
.tab-content{
  /* background-color: orange; */
}
.containerDivList{
  padding: 1rem;
  margin: 0 .5rem;
}
a li{
  /* width: 50%; */
  /* background-color: orange; */
  list-style: none;
  /* border: 2px solid green; */
}
img{
  width: 65px;
  height: 65px;
}
