li{
  /* background-color: orange; */
  list-style: none;
  width     : 80%;
  margin    : 0 auto;
  /* background: url('https://static-cdn.jtvnw.net/jtv_user_pictures/ogamingsc2-profile_banner-d418aed2c0ef7d35-480.jpeg'); */
}
img{
  width     : 80px;
  height    : 80px;
}
.borderRed{
  border    : 2px solid red;
}
.borderGreen{
  border    : 2px solid green;
}